:root{
    --babyblue: #D9E1F6;
    --navyblue: #1D2E6A;
    --almostblackblue: #0A112C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* faz o body ocupar toda a altura da tela */
    background-color: var(--babyblue);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    width: 80%; /* Largura do retângulo */
    max-width: 1100px; /* Largura máxima */
    margin: 0 auto;
    padding: 20px; /* Espaçamento interno */
    background-color: #fff; /* Cor de fundo do retângulo */
    text-align: center; /* Centraliza o texto */
    height: 80%;
    min-height: 600px;
    border-radius: 2.5rem;
}

.divMenu {
    background-color: red;
    width: 30%;
    height: 100%;
    padding: 2rem;
    text-align: center;
}

.menuImg {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 5%;
    display: flexbox;
}

.nickText {
    padding: 5px;
    padding-top: 0%;
    padding-bottom: 10%;
}

nav ul {
    display: flex;
    flex-direction: column; /* Coloca os itens em uma coluna */
    list-style: none; /* Remove os marcadores de lista */
    padding: 0; /* Remove o padding padrão da lista */
    padding-top: 25%;
    margin: 0; /* Remove a margem padrão da lista */
}

nav ul li {
    margin: 10px 0; /* Adiciona espaçamento entre os itens */
}

nav ul li a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: var(--almostblackblue); /* Cor do texto */
    font-size: 18px; /* Tamanho da fonte */
    
}

nav ul li a:hover {
    color: var(--babyblue);
    text-decoration: underline;
    transition: all 0.2s ease;
}


.divContent {
    background-color: rgb(116, 192, 62);
    width: 69%;
    padding-left: 5%;
    margin-left: 1.9%;
}