/*
HELLO TRAVELER!
 Please don't directly copy my code! 
 If you want to use it, please edit it to your needs and credit me on your page/website.
 You can take reference, play around with it or take inspiration from it. But please credit me :)
 Just be respectful! And thanks you for liking my website's code :) 
 - Yokiie, owner of https://unicodeangel.neocities.org

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200..900&display=swap');

@font-face {
  font-family: 'Forced Square';
  src: url('fonts/FORCEDSQUARE.ttf') format('truetype');
}

@font-face {
  font-family: 'Space Age';
  src: url('fonts/spaceage.ttf') format('truetype');
}

@font-face {
  font-family: 'Braille';
  src: url('fonts/BRAILLE1.ttf') format('truetype');
}

@font-face {
  font-family: 'SF Telegraphic Light';
  src: url('fonts/SFTelegraphicLight.ttf') format('truetype');
}



.blink_text {
  animation: blinker 1.5s infinite;
  -webkit-animation: blinker 1.5s infinite;
  -moz-animation: blinker 1.5s infinite;
}

@-moz-keyframes blinker {
  0% {
    opacity: 1.0;
  }

  49% {
    opacity: 1.0;
  }

  60% {
    opacity: 0.0;
  }

  99% {
    opacity: 0.0;
  }

  100% {
    opacity: 1.0;
  }
}

@-webkit-keyframes blinker {
  0% {
    opacity: 1.0;
  }

  49% {
    opacity: 1.0;
  }

  60% {
    opacity: 0.0;
  }

  99% {
    opacity: 0.0;
  }

  100% {
    opacity: 1.0;
  }
}

@keyframes blinker {
  0% {
    opacity: 1.0;
  }

  49% {
    opacity: 1.0;
  }

  60% {
    opacity: 0.0;
  }

  99% {
    opacity: 0.0;
  }

  100% {
    opacity: 1.0;
  }
}

/* Add this to your CSS file or in a <style> block in your HTML */
.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.fade-in.visible {
  opacity: 1;
}

/* Nice */
.aldrich-regular {
  font-family: "Aldrich", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Start of darkmode */
:root {
  --header-image: url('https://molecule31.neocities.org/images/header.png');
  --uaheader-image: url('https://molecule31.neocities.org/images/uaheader.png');
  --body-bg-image: url('https://molecule31.neocities.org/images/backgroundgrid.png');
  color-scheme: only light;
  --primary-color: rgba(245, 245, 245, 0.8);
  --header-color: rgba(245, 245, 245, 0.8);
  --secondary-color: #0A0A0A;
  --border-color: #202932;
  --hex-main-height: auto;
}

/*
.darkmode {
  --body-bg-image: url('https://molecule31.neocities.org/images/backgroundgridblack.png');
  --primary-color: rgba(33, 33, 33, 0.9);
  --header-color: rgba(255, 255, 255, 0.8);
  --secondary-color: #FFFFFF;
  --border-color: #FAFFF2;
}*/

/* Endof darkmode */

html {
  width: 99%;
  height: 100%;
  margin: 0px;
  margin-left: -30px;
  margin-right: -200px;
  padding: 0px;
  overflow-x: auto;
}

body {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 95%;
  background-color: rgb(218, 236, 255);
  color: black;
  font-family: Verdana;

}

a {
  color: #74a4db;
  text-decoration: none;
}

a:hover {
  color: #a9c6f0;
}

/* COLUMNS START */
* {
  box-sizing: border-box;
}

/* Create three unequal columns that floats next to each other */
.column {
  /*float: left;*/
  padding: 10px;
}

.left {
  position: absolute;
  /*delete if you want to use float*/
  top: 20px;
  /*delete if you want to use float*/
  min-width: 220px;
}

.middle {
  position: absolute;
  /*delete if you want to use float*/
  top: 20px;
  /*delete if you want to use float*/
  left: 240px;
  /*delete if you want to use float*/
  min-width: 500px;
}

.right {
  position: absolute;
  /*delete if you want to use float*/
  top: 20px;
  /*delete if you want to use float*/
  left: 770px;
  /*delete if you want to use float*/
  min-width: 300px;
}

/* END COLUMNS SECTION */

.row {
  position: relative;
  padding: 0;
  margin-left: 30px;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

/* Background video section */
#bgVideoContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0;
  margin: 0;
  left: 0px;
  top: 0px;
  z-index: -100;
  object-fit: cover;
  overflow: visible;
}

#bgVideo {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  object-fit: cover;
  overflow: visible;
}

/* Extra css only for mobile displays) */
@media screen and (max-width:767px) {
  #bgVideoContainer {
    width: 400% !important;
    left: 0 !important;
    height: 400% !important;
    z-index: -100;
    object-fit: cover;
  }
}

/* DO NOT EDIT THIS SECTION */
#vidcredit {
  position: relative;
  margin-right: 10px;
  margin-top: 10px;
  text-align: right;
  color: #a0a6af;
  font-family: "forced square";
  text-transform: uppercase;
  font-size: 14px;
  text-shadow: 0px 0px 4px rgb(255, 255, 255);
  z-index: 100;
}

/* DO NOT EDIT THIS SECTION */
#vidcredit a {
  color: #558ecf;
  text-decoration: none;
  text-transform: lowercase;
  font-size: 17px;
  z-index: 100;
}

/* DO NOT EDIT THIS SECTION */
#vidcredit p {
  margin: 0px !important;
}

/* DO NOT EDIT THIS SECTION */
#vidbutton {
  position: relative;
  top: -20px;
  margin-left: 30px;
  margin-bottom: 5px;
  text-align: left;
  text-shadow: 0px 0px 4px rgb(255, 255, 255);
  color: #a0a6af;
  font-family: "forced square";
  font-size: 14px;
  text-transform: uppercase;
  z-index: 200;
}

#vidbutton p {
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 0px;
  z-index: 200;
  font-size: 14px;
}

/* Style the button used to pause/play the video */
#vidBtn {
  width: 110px;
  font-size: 15px;
  padding: 10px;
  border: 1px solid #c9d1dd;
  border-radius: 20px;
  color: #8b939c;
  font-family: "forced square";
  cursor: help;
  background:
    radial-gradient(75% 50% at 50% 0%, rgb(244, 248, 255), white),
    radial-gradient(75% 50% at 50% 70%, #ffffff, white);
  box-shadow:
    inset 0 -2px 4px 0px #b0b3b8
    /*,
    inset 0 -4px 5px 1px #ffffff
    ,
    0px 0px 25px 25px #f9f9f9*/
  ;
}

#vidBtn:hover {
  background: #ddd;
  color: #81a1c8;
}

/* END Background video section */

/* NAVBAR */
.navbar {
  margin-top: 0px;
  height: 300px;
  background-image: url('/imgs/NavTest.png');
  background-size: cover;
  image-rendering: auto;
  background-size: 200px;
  background-repeat: no-repeat;
  color: white;
  font-family: Verdana;
  z-index: 0;
}

.navbar-title {
  margin-top: 13px;
  top: 0px;
  padding-left: 55px;
  font-family: "Space Age";
  background: linear-gradient(0deg, rgba(129, 161, 200, 1) 0%, rgba(167, 213, 255, 1) 55%);
  background-clip: text;
  color: transparent;
  font-size: 42px;
  letter-spacing: 3px;
  display: inline-block;
  transform: scale(1, 1.5);
  /* Safari and Chrome */
  -webkit-transform: scale(1, 0.8);
  /* Firefox */
  -moz-transform: scale(1, 0.8);
  /* IE 9+ */
  -ms-transform: scale(1, 0.8);
  /* Opera */
  -o-transform: scale(1, 0.8);
}

.navbar-title-2 {
  margin-top: -6px;
  padding-left: 54px;
  font-family: "Braille";
  color: #c9cfd6;
  font-size: 24px;
  letter-spacing: 1px;
}

.navbar-title-2 text {
  letter-spacing: 3px;
}

.navbar table {
  margin-left: 50px;
  margin-top: 1px;
  width: 125px !important;
  border-collapse: collapse;
}

.navbar td {
  height: 10px;
  border-top-width: 10px;
  border-top-style: solid;
  border-top-color: transparent;
  border-radius: 0px;
  font-family: "Forced Square";
  font-size: 20px;
  /*color: #89929c;*/
  padding-right: 5px;
  text-align: right;
}

.navbar tr:before {
  position: absolute;
  content: '';
  width: 125px;
  height: 1px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.4) 0%, rgba(189, 199, 211, 1) 25%, rgba(189, 199, 211, 1) 50%, rgba(189, 199, 211, 1) 75%, rgba(255, 255, 255, 0.4) 100%);
  box-shadow: 0px 0px 4px 1px #ffffff;
}


.navbar tr {
  text-align: right;
}

.navbar a {
  position: relative;
  font-family: "Forced Square";
  color: #9da7b3;
  text-decoration: none;
  text-align: right;
  display: block;
  margin-top: -5px;
  margin-bottom: -5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar a:hover {
  color: #81a1c8;
}

#navhover img {
  vertical-align: middle;
  align-items: start;
  height: 13px;
  image-rendering: pixelated;
  float: left;
  margin-top: 3px;
  margin-left: 11px;
}

#navhover {
  background-image: url('imgs/navcircle.png');
  background-repeat: no-repeat;
  background-position-x: 11px;
  background-position-y: 4px;
  background-size: 13px;
  image-rendering: pixelated;
}

#navtable tr:last-child td:last-child {
  background-image: none;
}

#navhover img:hover {
  content: url('imgs/navcircleblue.png');
  vertical-align: middle;
  align-items: start;
  height: 13px;
  image-rendering: pixelated;
  float: left;
  margin-top: 3px;
  margin-left: 11px;
}

#navhover:hover {
  background-image: url('imgs/navcircleblue.png');
  background-size: 13px;
  image-rendering: crisp-edges;
}

/* TOOLTIP SECTION */
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 160px;
  top: 100%;
  left: 50%;
  margin-top: 10px;
  margin-left: -60px;
  /* Use half of the width (120/2 = 60), to center the tooltip */
  line-height: normal;
  background-color: #b2becca8;
  color: #fff;
  text-shadow: 0px 0px 5px #000000;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* LOADER */

#loadercircle {
  image-rendering: crisp-edges;
  position: absolute;
  height: 25px;
  margin-top: 12px;
  margin-left: 12px;
  animation: rotate 1.3s linear infinite;
  /* 2s duration, linear speed curve, infinite repeat */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* END LOADER */
/* END NAVBAR */

/* CONTENT */

.content {
  position: relative;
  margin-top: 0px;
  left: 0px;
  width: 500px;
  height: auto;
  background-image: linear-gradient(90deg, #fafbfb 0%, #f7f7f7 50%, #fafbfb 100%);
  border: 1.5px solid #c9c9c9;
  border-radius: 18px;
  z-index: 1;
  box-shadow: inset 0px -5px 5px -5px #dadada, 0px 0px 5px 0px #dadada;
}

.content-toolbar {
  position: relative;
  height: 40px;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 25px 25px 15px 15px;
  padding: 12px 16px;
  background-color: #f0f0f0;
  background-image:
    radial-gradient(75% 50% at 50% 0%, rgb(244, 248, 255), transparent),
    radial-gradient(75% 50% at 50% 70%, #ffffff, transparent);
  box-shadow:
    inset 0 -2px 4px 0px #b0b3b8
    /*,
    inset 0 -4px 5px 1px #ffffff
    ,
    0px 0px 25px 25px #f9f9f9*/
  ;



  &::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100px;
    width: 101%;
    height: 40px;
    background-image: linear-gradient(180deg, rgb(255, 255, 255) 5%, rgb(237, 241, 245) 20%, rgb(255, 255, 255) 80%, rgba(255, 255, 255, 0) 100%);
    background-clip: border-box;
    opacity: 1;
  }
}

.content-toolbar span {
  position: relative;
  background: linear-gradient(0deg, rgba(129, 161, 200, 1) 0%, #a7d5ff 55%);
  background-clip: text;
  color: transparent;
  font-family: "Space Age";
  font-size: 32px;
  top: -10.5px;
  padding-left: 10px;
  z-index: 100 !important;
}

.content-toolbar span:after {
  position: absolute;
  left: 10px;
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 1), 0px 0px 3px rgba(247, 250, 255, 0.7), 0px 0px 3px rgba(255, 255, 255, 1);
  content: attr(data-text);
  z-index: -1;
}

#xbutton {
  position: relative;
  top: -5px;
  right: -9px;
  float: right;
  height: 25px;
  z-index: 100 !important;
}

.content-inner {
  position: relative;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 15px;
  margin-top: 13px;
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 10px;
  border: 1.5px solid #c9c9c9;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgb(250, 250, 251) 5%, rgba(250, 251, 251, 1) 95%, rgba(255, 255, 255, 1) 100%);
  border-radius: 18px;
  box-shadow: inset 0px 0px 5px 0px rgb(202, 202, 202), 0px -4px 5px -3px #bbbbbb, 0px 5px 1px -3px #ffffff;
  z-index: 1;
}

.content-inner span {
  position: relative;
  display: inline-block;
  color: #9da7b3;
  font-size: 14px;
  font-family: "Aldrich", sans-serif;
  font-weight: 400;
  text-align: justify;
  text-justify: inherit;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
  /*text-transform: uppercase;*/
}

.content-inner .bubble span {
  padding-left: 2px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin: 0px !important;
  color: #9da7b3;
  color: #bcc7d4;
  font-size: 18px;
  font-family: "Aldrich", sans-serif;
  font-weight: 500;
}

.content-inner h1 {
  position: relative;
  color: #9da7b3;
  font-size: 18px;
  font-family: "Aldrich", sans-serif;
  font-weight: 500;
  padding-left: 20px;
}

.content-inner h1::after {
  position: relative;
  display: block;
  content: '';
  width: 100%;
  left: -20px;
  height: 1px;
  margin-top: 3px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.4) 0%, rgba(189, 199, 211, 1) 25%, rgba(189, 199, 211, 1) 50%, rgba(189, 199, 211, 1) 75%, rgba(255, 255, 255, 0.4) 100%);
  box-shadow: 0px 0px 4px 1px #ffffff;
}

.content-footer {
  position: relative;
  top: 0px;
  height: 25px;
  margin-top: 10px;
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 7px;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(250, 251, 251, 1) 5%, rgba(250, 251, 251, 1) 95%, rgba(255, 255, 255, 1) 100%);
  border-radius: 18px;
  box-shadow: inset 0px 3px 5px -1px rgb(202, 202, 202), 0px -4px 5px -3px #bbbbbb, 0px 5px 1px -3px #ffffff;
  z-index: 1;
}

.content-footer span {
  position: absolute;
  color: #9da7b3;
  font-family: "Forced Square";
  font-size: 13px;
  vertical-align: middle;
  top: 8px;
  padding-left: 25px;
}

/* CONTENT BUTTONS */

table.content-buttons-table {
  width: 100%;
  height: 30px;
  margin-top: 3px;
  margin-bottom: 3px;
  text-align: center;
  border-collapse: collapse;
  font-family: "Forced Square";
  font-size: 15px;
  vertical-align: middle;
  table-layout: fixed;
}

table.content-buttons-table a {
  font-family: "Forced Square";
  color: #9da7b3;
  text-decoration: none;
  display: inline-block;
  height: 100%;
  width: 100%;
  padding-top: 0.6em;
}

table.content-buttons-table a:hover {
  font-family: "Forced Square";
  color: #81a1c8;
  text-decoration: none;
}

/* 
table.content-buttons-table td {
  border: 1px solid #AAAAAA;
}

table.content-buttons-table td+td {
  border-left: 2px solid red;
}*/


table.content-buttons-table td {
  height: 100%;
  border: 1px solid transparent;
  position: relative;
  vertical-align: middle;
}

table.content-buttons-table td::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  /* Centering the gradient within the border */
  width: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 0%, rgba(189, 199, 211, 1) 25%, rgba(189, 199, 211, 1) 50%, rgba(189, 199, 211, 1) 75%, rgba(255, 255, 255, 0.4) 100%);
  box-shadow: 0px 0px 3px 1px #ffffff;
}

table.content-buttons-table td:first-child::before {
  display: none;
}

table.content-buttons-table td:last-child::after {
  display: none;
}

.disabled {
  color: #c4d1e0 !important;
  pointer-events: none;
}

/* END CONTENT BUTTONS */

#middle-column-img {
  position: relative;
  float: right;
  right: 0px;
  top: -0px;
}

/* SMALLCONTENT */
.small-content-mood {
  position: relative;
  margin-top: 10px;
  top: -20px;
  left: 20px;
  width: 180px;
  height: auto;
  background-image: linear-gradient(90deg, #fafbfb 0%, #f7f7f7 50%, #fafbfb 100%);
  border: 1.5px solid #c9c9c9;
  border-radius: 22px;
  z-index: 1;
  box-shadow: inset 0px -5px 5px -4px #dadada, 0px 0px 5px 0px #dadada;
}

.small-content-button {
  position: relative;
  margin-top: 10px;
  top: -10px;
  left: 20px;
  width: 180px;
  height: auto;
  background-image: linear-gradient(90deg, #fafbfb 0%, #f7f7f7 50%, #fafbfb 100%);
  border: 1.5px solid #c9c9c9;
  border-radius: 22px;
  z-index: 1;
  box-shadow: inset 0px -5px 5px -4px #dadada, 0px 0px 5px 0px #dadada;
}

.small-content-stats {
  position: relative;
  top: 5px;
  left: 0px;
  width: 285px;
  height: auto;
  background-image: linear-gradient(90deg, #fafbfb 0%, #f7f7f7 50%, #fafbfb 100%);
  border: 1.5px solid #c9c9c9;
  border-radius: 22px;
  z-index: 1;
  box-shadow: inset 0px -5px 5px -4px #dadada, 0px 0px 5px 0px #dadada;
}

/* 88x31 BUTTONS START */
.small-content-buttons {
  position: relative;
  top: 20px;
  left: 0px;
  width: 285px;
  height: auto;
  background-image: linear-gradient(90deg, #fafbfb 0%, #f7f7f7 50%, #fafbfb 100%);
  border: 1.5px solid #c9c9c9;
  border-radius: 22px;
  z-index: 1;
  box-shadow: inset 0px -5px 5px -4px #dadada, 0px 0px 5px 0px #dadada;
}

#buttonmarquee {
  margin-left: 35px;
}


#buttonmarquee img {
  margin: 3px;
  filter: opacity(70%);
  /* Colorize blue
  filter: grayscale(0%) sepia(100%) hue-rotate(181deg) saturate(100%) opacity(90%) contrast(0.9) brightness(1.1);*/
  height: 31px;
}

#buttonmarquee:hover img {
  filter: none !important;
}



/* 88x31 BUTTONS END */

.small-content-list {
  position: relative;
  margin-top: 0px;
  top: 0px;
  left: 20px;
  width: 180px;
  height: auto;
  background-image: linear-gradient(90deg, #fafbfb 0%, #f7f7f7 50%, #fafbfb 100%);
  border: 1.5px solid #c9c9c9;
  border-radius: 22px;
  z-index: 1;
  box-shadow: inset 0px -5px 5px -4px #dadada, 0px 0px 5px 0px #dadada;
}

.small-content-updates {
  position: relative;
  margin-top: 0px;
  top: 0px;
  left: 20px;
  width: 180px;
  height: auto;
  background-image: linear-gradient(90deg, #fafbfb 0%, #f7f7f7 50%, #fafbfb 100%);
  border: 1.5px solid #c9c9c9;
  border-radius: 22px;
  z-index: 1;
  box-shadow: inset 0px -5px 5px -4px #dadada, 0px 0px 5px 0px #dadada;
}

.small-content {
  position: relative;
  margin-top: 10px;
  top: 0px;
  left: 20px;
  width: 180px;
  height: auto;
  background-image: linear-gradient(90deg, #fafbfb 0%, #f7f7f7 50%, #fafbfb 100%);
  border: 1.5px solid #c9c9c9;
  border-radius: 22px;
  z-index: 1;
  box-shadow: inset 0px -5px 5px -4px #dadada, 0px 0px 5px 0px #dadada;
}

.small-content-toolbar {
  position: relative;
  height: 15px;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 25px 25px 15px 15px;
  padding: 12px 16px;
  background-color: #f0f0f0;
  background-image:
    radial-gradient(75% 50% at 50% 0%, rgb(244, 248, 255), transparent),
    radial-gradient(75% 50% at 50% 70%, #ffffff, transparent);



  &::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100px;
    width: 101%;
    height: 40px;
    background-image: linear-gradient(180deg, rgb(255, 255, 255) 5%, rgb(239, 242, 245) 20%, rgb(255, 255, 255) 80%, rgba(255, 255, 255, 0) 100%);
    background-clip: border-box;
    opacity: 1;
  }
}

.small-content-toolbar span {
  position: relative;
  color: #555a61;
  font-family: "SF Telegraphic Light";
  font-size: 24px;
  letter-spacing: 1px;
  margin-top: -4px;
  float: right;
  z-index: 100 !important;
}

#small-xbutton-left {
  position: relative;
  margin-top: -3%;
  left: -9px;
  float: left;
  height: 22px;
  z-index: 100 !important;
}

#small-xbutton-right {
  position: relative;
  margin-top: -1.5%;
  left: -7px;
  float: left;
  height: 24px;
  z-index: 100 !important;
}

.small-content-inner {
  position: relative;
  height: auto !important;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 0px;
  padding-bottom: 18px;
  margin-top: 30px;
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 8px;
  border: 1.5px solid #c9c9c9;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgb(250, 250, 251) 5%, rgba(250, 251, 251, 1) 95%, rgba(255, 255, 255, 1) 100%);
  border-radius: 18px;
  box-shadow: inset 0px 0px 5px 0px rgb(202, 202, 202), 0px -4px 5px -3px #bbbbbb, 0px 5px 1px -3px #ffffff;
  z-index: 1;
}

.small-content-inner span {
  position: relative;
  display: block;
  color: #9da7b3;
  font-size: 12px;
  /*text-transform: uppercase;*/
}


#imood {
  position: relative;
  top: -7px;
  margin: auto;
  display: block;
}

#statuscafe-username {
  padding-bottom: 5px;
}

#statuscafe-username a {
  width: auto;
  color: #93bdec;
  font-family: "Forced Square";
  font-size: 18px;
  text-decoration: none;
  padding-left: 0px;
  text-align: left;
  top: 0px;
}

#statuscafe-content {
  font-family: "Aldrich", sans-serif;
  font-size: 14px;
  text-align: left;
  padding-bottom: 5px;
}

#statuscafe-date {
  font-family: "Aldrich";
  font-style: italic;
  font-size: 12px;
  text-align: left;
}

#small-content-pictochat {
  position: relative;
  height: 345px !important;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 0px;
  padding-bottom: 18px;
  margin-top: 25px;
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 7px;
  border: 1.5px solid #c9c9c9;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgb(250, 250, 251) 5%, rgba(250, 251, 251, 1) 95%, rgba(255, 255, 255, 1) 100%);
  border-radius: 18px;
  box-shadow: inset 0px 0px 5px 0px rgb(202, 202, 202), 0px -4px 5px -3px #bbbbbb, 0px 5px 1px -3px #ffffff;
  z-index: 1;
}

#small-content-listing {
  position: relative;
  height: auto !important;
  margin-top: 25px;
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 7px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 25px;
  border: 1.5px solid #c9c9c9;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgb(250, 250, 251) 5%, rgba(250, 251, 251, 1) 95%, rgba(255, 255, 255, 1) 100%);
  border-radius: 18px;
  box-shadow: inset 0px 0px 5px 0px rgb(202, 202, 202), 0px -4px 5px -3px #bbbbbb, 0px 5px 1px -3px #ffffff;
  z-index: 1;
}

#small-content-listing a::after {
  position: relative;
  display: block;
  content: '';
  margin-top: 5px;
  width: 100%;
  left: -20px;
  height: 1px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.4) 0%, rgba(189, 199, 211, 1) 25%, rgba(189, 199, 211, 1) 50%, rgba(189, 199, 211, 1) 75%, rgba(255, 255, 255, 0.4) 100%);
  box-shadow: 0px 0px 4px 1px #ffffff;
}

#small-content-listing a:last-child:after {
  display: none;
}

#small-content-listing a {
  font-size: 18px;
  font-family: "Aldrich", sans-serif;
  font-weight: 400;
  color: #74a4db;
  text-decoration: none;
  padding-top: 5px;
}

#small-content-listing a:hover {
  color: #a9c6f0;
}

#small-content-todo {
  position: relative;
  height: auto !important;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 25px;
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 7px;
  border: 1.5px solid #c9c9c9;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgb(250, 250, 251) 5%, rgba(250, 251, 251, 1) 95%, rgba(255, 255, 255, 1) 100%);
  border-radius: 18px;
  box-shadow: inset 0px 0px 5px 0px rgb(202, 202, 202), 0px -4px 5px -3px #bbbbbb, 0px 5px 1px -3px #ffffff;
  z-index: 1;
}

#small-content-todo span {
  font-family: "Aldrich", sans-serif;
  font-size: 14px;
  text-align: left;
  color: #9da7b3;
}

#small-content-todo ul {
  padding-left: 25px;
  margin: 0px;
}

#small-content-todo li {
  list-style-image: url('imgs/navcircle.png');
  list-style-position: outside;
}


/* BUTTON SECTION */

.noscrollbar::-webkit-scrollbar {
  display: none;
}

.noscrollbar {
  background: transparent;
  border: 0px dashed #9b9c9c;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
  top: -25px;
  left: 5px;
  width: 95%;
  height: 48px;
  font-family: "Aldrich", sans-serif;
  font-size: 12px;
  word-wrap: break-word;
  color: #9da7b3;
}

#timecode {
  position: absolute;
  top: 10px;
  width: 95%;
  left: 7px;
  font-family: 'Aldrich', sans-serif;
  font-size: 14px;
}

#timecode table {
  top: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

#timecode tbody {
  top: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

/* CACHE PAGE */

.ascii-art img {
  margin-bottom: 10px;
  margin-right: 10px;
  max-width: 720px;
  image-rendering: pixelated;
}

#page6 .ascii-art img,
#page7 .ascii-art img,
#page8 .ascii-art img,
#page9 .ascii-art img,
#page10 .ascii-art img,
#page11 .ascii-art img,
#page12 .ascii-art img,
#page13 .ascii-art img,
#page14 .ascii-art img,
#page15 .ascii-art img,
#page16 .ascii-art img {
  mix-blend-mode: darken;
  margin-bottom: 5px;
  margin-right: 0px;
}

/* TamaWebchi */
.tamawebchitextbox::-webkit-scrollbar {
  display: none;
}

.tamawebchitextbox {
  background: transparent;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  box-sizing: border-box;
  width: 350px;
  height: 70px;
  font-family: "Aldrich", sans-serif;
  font-size: 12px;
  word-wrap: break-word;
  color: #9da7b3;
  resize: none;
}

.tamawebchitextbox:focus {
  outline: none !important;
  border: 1px solid #c4c4c4;
}